<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
</head>
<body>
    <div id="container">
        <header>
            <div class="header-container">
                <div class="header-left-container">
                    <div class="site-logo">
                        <img class="site-logo-img" src="/static/images/header/sitelogo.png" alt="stussy">
                    </div>
                    <div class="nav-menu-button">
                        <a href="">SHOP</a>
                    </div>
                </div>
                <div class="header-right-container">
                    <button class="header-search-button" type="button">SEARCH</button>
                    <button class="header-bag-button" type="button">BAG</button>
                    <button class="header-country-button" type="button">
                        <img src="/static/images/header/teageukgi.png" alt="태극기">
                    </button>
                </div>
            </div>
            <nav>
                <div class="site-nav-mega">
                    <a class="site-nav-child-link" href="">NEW</a>
                    <a class="site-nav-child-link" href="">TEES</a>
                    <a class="site-nav-child-link" href="">SWEATS</a>
                    <a class="site-nav-child-link" href="">OVERDYED</a>
                    <a class="site-nav-child-link" href="">OUTERWEAR</a>
                    <a class="site-nav-child-link" href="">TOPS & SHIRTS</a>
                    <a class="site-nav-child-link" href="">KNITS</a>
                    <a class="site-nav-child-link" href="">BOTTOMS</a>
                    <a class="site-nav-child-link" href="">DENIM</a>
                    <a class="site-nav-child-link" href="">HEADWEAR</a>
                    <a class="site-nav-child-link" href="">ACCESSORIES</a>
                    <a class="site-nav-child-link" href="">ALL</a>
                </div>
                <div class="site-nav-mega">
                    <a class="site-nav-child-link" href="">ACCOUNT</a>
                    <a class="site-nav-child-link" href="">CONTACT</a>
                    <a class="site-nav-child-link" href="">FEATURES</a>
                    <a class="site-nav-child-link" href="">CHAPTERS</a>
                </div>
            </nav>
        </header>
        <main>
            
        </main>
        <footer>

        </footer>
    </div>
</body>
</html>